adf/pipeline/pl_ingest_raw_to_bronze.json
{
	"name": "pl_ingest_raw_to_bronze",
	"properties": {
		"description": "Batch ingestion pipeline for retailverse_customers.csv from raw to bronze. File presence is validated before copy.",
		"activities": [
			{
				"name": "check_file_exists_raw",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_raw_retail_sales",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_file_exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "check_file_exists_raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('check_file_exists_raw').output.exists\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy_raw_to_bronze",
							"description": "Copies retailverse_customers.csv from raw-dev to bronze zone with file presence validation.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_raw_retail_sales",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_bronze_retail_sales",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [
			"author : Sanjay",
			"env : dev",
			"type : static_batch_ingestion",
			"entity : retailverse_customers"
		]
	}
}